@CHARSET "ISO-8859-1";

#heading {
	width: 100%;
	text-align: center;
	background-color: black;
}

#menuPointWrapper {
	width: 100%;
}

#mainContent {
	clear: both;
}

.menuPoint {

	border: solid 5px #000000;
	float: left;
	font-size: 150%;
}

.menuPoint:hover {
	background-color: blue;
}

#lineBreaker {
	height: 30px;
}