@CHARSET "ISO-8859-1";

#heading {
    width: 100%;
    height : 100px;
    text-align: center;
    background : url('../images/viszegel.png');
    background-size: 1000px 1000px;

    background-color: black;
}

.seperator30{
    margin-top: 30px;
}
#menuPointWrapper {
    width: 100%;
}

#mainContent,#status {
    clear: both;
}

.menuPoint {

    border:2px solid #FFF000;
    border-color:black;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    color:black;
    text-shadow: 0 1px 1px #FFFFFF;
    float:left;
    font-weight: bold;
    color: black;
    background-color :orange;
}

.menuPoint:hover {
    background-color: #FFF200;

}
.add_input{

    width :100%;
}
#lineBreaker {
    height: 30px;
}

.customer_table{
    width: 1500px;
    table-layout:fixed;

}
.customer_table td{

    border: 1px solid #CCC;
    overflow:hidden;
    word-wrap:break-word;
}

.customer_table thead {
    background: #F3F3F3; /* Light grey background */
    font-weight: bold; /* Make sure they're bold */
}
